body {
  background-color: whitesmoke;
  /* padding: 20%; */
}

h1,
h2,
p {
  color: #43281c;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article {
  background-color: #edecec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2.5%;
  border-radius: 30px;
  margin: 4%;
}

button {
  background-color: #7f9172;
  color: #edecec;
  border-radius: 30px;
}

button:hover {
  background-color: #43281c;
  color: #edecec;
}

header p {
  font-style: italic;
  border-bottom: 1.5px solid #43281c;
  font-weight: 400;
}
.sale {
  font-size: 2.4rem;
  /* font-weight: bold; */
}

#pricetag {
  font-size: 1.2rem;
  color: #7f9172;
  font-weight: lighter;
}
