body {
  background-color: #f5f5f5;
}

h1,
h2,
p {
  color: #43281c;
}

header {
  display: flex;
  flex-direction: column;
}

article {
  background-color: #edecec;
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  border-radius: 30px;
  margin: 4%;
}

button {
  background-color: #293f1a;
  color: #edecec;
  border-radius: 30px;
  padding: 0.5%;
  border: 2.5px solid#293f1a;
  font-size: 14px;
}

button:hover {
  background-color: #43281c;
  color: #edecec;
}

header p {
  font-style: italic;
  border-bottom: 1.5px solid #43281c;
  font-weight: 400;
}

.sale-price {
  font-size: 2.4rem;
}

#price-tag {
  font-size: 1.2rem;
  color: #293f1a;
  font-weight: lighter;
  font-style: oblique;
}
